@use "../../assets/sass/variables" as *;
@use "../../assets/sass/typography" as *;

.add-form {
  font-family: $primary-font;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  &__label {
    font-weight: 700;
    margin-bottom: 0.3rem;
  }
  &__input {
    margin-bottom: 0.6rem;
    padding: 0.2rem;
    font-family: $primary-font;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    width: 100%;
    &:focus {
      outline: 1px solid $tertiary;
    }
  }
  &__select {
    width: auto;
  }
  &__btn {
    border: none;
    padding: 0.4rem 1.2rem;
    margin-top: 0.3rem;
    background-color: $tertiary;
    color: $font-light;
    font-family: $primary-font;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  }
}
