@use "../../assets/sass/typography" as *;
@use "../../assets/sass/variables" as *;

.search-box {
  box-sizing: border-box;
  font-family: $primary-font;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid $tertiary;
  width: 90%;
  padding: 0.5rem;
  &:focus {
    outline: 1px solid $tertiary;
  }
}
