@use "../../assets/sass/typography" as *;
@use "../../assets/sass/variables" as *;

.book-list {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.5rem;
  margin-bottom: 0;
  padding-bottom: 6rem;
}
