@use "../../assets/sass/typography" as *;
@use "../../assets/sass/variables" as *;

.header-text {
  font-family: $primary-font;
  font-size: 3.8rem;
  font-style: italic;
  text-align: center;
  background-color: $color-secondary;
  padding: 1rem;
}
