@use "../../assets/sass/typography" as *;
@use "../../assets/sass/variables" as *;

.book-focus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $secondary-font;
  background-color: $tertiary;
  padding: 1rem;
  padding-bottom: 5rem;
  &__icon-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__icon {
    font-size: 2rem;
    color: $color-secondary;
    cursor: pointer;
  }
  &__img {
    height: 300px;
    margin-bottom: -1.2rem;
    z-index: 5;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    background-color: $color-secondary;
    padding: 1rem;
    padding-top: 2rem;
  }
  &__title {
    font-family: $primary-font;
  }
  &__author {
    border-bottom: 1px solid $tertiary;
    padding-bottom: 0.6rem;
  }
  &__description {
    line-height: 1.4rem;
    text-align: center;
  }
  &__rating {
    font-family: $primary-font;
    font-weight: 700;
    background-color: $tertiary;
    padding: 0.7rem;
    color: $font-light;
  }
}

.icon-trash {
  font-size: 1.55rem;
}
