@use "../../assets/sass/typography" as *;
@use "../../assets/sass/variables" as *;

.book-focus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $secondary-font;
  background-color: $tertiary;
  margin-bottom: 4.5rem;
  padding: 1rem;
  &__close {
    align-self: flex-end;
    font-size: 2rem;
    color: $color-secondary;
    cursor: pointer;
    // color: $font-light;
    // color: $color-primary;
  }
  &__img {
    height: 300px;
    margin-bottom: -0.7rem;
    z-index: 5;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    background-color: $color-secondary;
    padding: 1rem;
  }
  &__title {
    font-family: $primary-font;
  }
  &__author {
    border-bottom: 1px solid $tertiary;
    padding-bottom: 0.6rem;
  }
  &__description {
    line-height: 1.4rem;
    text-align: center;
  }
  &__rating {
    font-family: $primary-font;
    font-weight: 700;
    background-color: $tertiary;
    padding: 0.7rem;
    color: $font-light;
  }
}
