@use "../../assets/sass/variables" as *;
@use "../../assets/sass/typography" as *;

.navbar {
  height: 6rem;
  width: 100%;
  background-color: $color-secondary;
  position: absolute;
  bottom: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: $primary-font;
}
