@use "../../assets/sass/variables" as *;
@use "../../assets/sass/typography" as *;

.navbar {
  height: 6rem;
  width: 100%;
  background-color: $color-secondary;
  position: absolute;
  bottom: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $primary-font;
  &__icon {
    color: $tertiary;
    font-size: 2rem;
  }
  &__text {
    font-weight: 600;
    font-size: 1.5rem;
  }
}
