@use "../../assets/sass/variables" as *;
@use "../../assets/sass/typography" as *;

.navbar {
  width: 100%;
  font-family: $primary-font;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
