@use "../../assets/sass/variables" as *;
@use "../../assets/sass/typography" as *;

.book-card {
  font-family: $primary-font;
  width: 139.859px;

  &__img {
    height: 220px;
    cursor: pointer;
  }
  &__info {
    gap: 1rem;
  }
  &__name {
    font-weight: 700;
    font-size: 1.1rem;
    text-align: center;
    cursor: pointer;
  }
  &__author {
    font-size: 0.8rem;
    font-weight: 600;
    font-family: $secondary-font;
    text-align: center;
    cursor: pointer;
  }
}
