@use "../../assets/sass/variables" as *;
@use "../../assets/sass/typography" as *;

.book-card {
  background-color: $color-secondary;
  border-radius: 5px;
  font-family: $primary-font;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  width: 60%;
  &__img {
    width: 120px;
    border: 1px solid $color-tertiary;
  }
  &__name {
    font-weight: 700;
    font-size: 1.3rem;
    text-align: center;
  }
  &__author {
    font-size: 0.9rem;
    font-weight: 600;
    font-family: $secondary-font;
  }
}

@media all and (min-width: 1024px) {
  .book-card {
    width: 25%;
  }
}
