@use "./assets/sass/typography" as *;
@use "./assets/sass/variables" as *;

* {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  background-color: rgb(79, 113, 120);
}

.one,
.two,
.three {
  font-family: $primary-font;
  text-align: center;
  margin-top: 1rem;
}

.one {
  color: $secondary;
}

.two {
  color: $tertiary;
}

.three {
  color: $third;
}
