$color-primary: rgb(79, 113, 120);
$color-secondary: rgb(242, 222, 189);
$color-tertiary: rgb(191, 129, 118);

//fonts
$font-light: rgb(250, 249, 246);
$font-dark: rgb(0, 0, 0);
$font-color: rgb(242, 222, 189);

$secondary: rgb(242, 222, 189);
$tertiary: rgb(191, 129, 118);
$third: rgb(226, 193, 139);
